#eg{
    text-align: center;
    color:black;
    font-size: 1cm;
    margin-left: 33%;
    font-family: 'Acme', sans-serif;
    border: 5px solid black;
}
#barre{
    position: fixed;
    top: 0px;
    height: 2cm;
    width: 100%;
    background-color:bisque;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}
.test{
    margin-right: 2cm;
    font-size: 20px;
}
body{
    margin-left: 0;
    background-image: url("https://www.radiofrance.fr/s3/cruiser-production/2021/04/8bc659af-ca52-4852-b8c9-5c5693dd83dc/1200x630_dalida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#start{
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid;
    background-color: lightgrey;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1cm;
}
.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button_link:hover{
    color: brown;
}
#chansons{
    display: grid;
    grid-template-columns: auto auto;
}
h1{
    grid-column: 1/span 2;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 2px 1px black;
    font-family: 'Alex Brush', handwriting;
    font-size: 2.5cm;
    margin-top: 15vh;
}
#chanson1{
    grid-column: 1;
    height: 240px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.625);
    color: aliceblue;
    margin-left: 100px;
    margin-right: auto;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;

}
#chanson2{
    height: 240px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.625);
    color: aliceblue;
    margin-left: auto;
    margin-right: 100px;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
}

