body{
    margin-left: 0;
    background-color:darkslateblue;
}


#map{
    grid-column: 1 / 8;
    grid-row : 1 / 2;
    border-style: groove;
    border-color: goldenrod;
}

#jeu{
    display: grid;
    width: 1250px;
    height: 600px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -282px 0 0 -600px;
    column-gap: 50px;
}

#inventaire{
    background-color: goldenrod;
    grid-column: 8 / 9;
    grid-row : 1 / 2;
    width: 170px;
    display: grid;
}

#titre_inv{
    color: white;
    text-align: center;
    /*grid column: 1 / 2;
    grid-row: 1/2;*/
}

.test{
    margin-right: 2cm;
    font-size: 20px;
}


#barre{
    position: fixed;
    top: 0px;
    height: 2cm;
    width: 100%;
    background-color: bisque;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button_link:hover{
    color: brown;
}

#eg{
    text-align: center;
    color:black;
    font-size: 1cm;
    margin-left: 35%;
    font-family: 'Acme', sans-serif;
    border: 5px solid black;
}