#map { height: 180px; }

#slot {
    background-color: aliceblue;
    padding: 6px 18px;
    border-radius: 5px;
}
#eg{
    text-align: center;
    color:black;
    font-size: 1cm;
    margin-left: 35%;
    font-family: 'Acme', sans-serif;
    border: 5px solid black;
}
#barre{
    grid-row: 0/1;
    grid-column: 0/3;
    position: fixed;
    top: 0px;
    height: 2cm;
    width: 100%;
    background-color: aliceblue;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}
.test{
    margin-right: 2cm;
    font-size: 20px;
}
body{
    margin-left: 0;
    background-image: url("https://www.silamp.fr/Files/124801/Img/21/Projecteurs-blanc-froid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button_link:hover{
    color: brown;
}

#titre {
    color: goldenrod;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: larger;
}

#liste {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 500px;
    height: 600px;
    gap: 25px;
    grid-row: 1/2;
    margin-left: 514px;
    margin-right: 514px;
    margin-top: 100px;
}

#top1 {
    color: gold;
}
#top2 {
    color: silver;
}
#top3 {
    color: rgb(201, 117, 16);
}