#map { height: 180px; }

#slot {
    background-color: bisque;
    padding: 6px 18px;
    border-radius: 5px;
}
#colonne{
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
}
#eg{
    text-align: center;
    color:black;
    font-size: 1cm;
    margin-left: 33%;
    font-family: 'Acme', sans-serif;
    border: 5px solid black;
}
#barre{
    grid-row: 0/1;
    grid-column: 0/3;
    position: fixed;
    top: 0px;
    height: 2cm;
    width: 100%;
    background-color: bisque;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}
.test{
    margin-right: 2cm;
    font-size: 20px;
}
body{
    margin-left: 0;
    background-image: url("https://www.silamp.fr/Files/124801/Img/21/Projecteurs-blanc-froid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button_link:hover{
    color: brown;
}

#titre {
    grid-row: 1/2;
    text-align: center;
    color: goldenrod;
    font-family: 'Alex Brush', handwriting;
    font-size: 1cm;
}

#liste {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 500px;
    height: 600px;
    gap: 20px;
    grid-row: 1/2;
    margin-left: 514px;
    margin-right: 514px;
    margin-top: 100px;
    align-items: center;
}

/* 1er */ 
#top1 {
    color: goldenrod;
    text-align: center;
}
#pseudo1 {
    margin-left: 150px;
    text-align: center;
}
#score1 {
    margin-left: 100px;
    text-align: center;
}
/* 2eme */ 
#top2 {
    color: silver;
    text-align: center;
}
#pseudo2 {
    margin-left: 150px;
    text-align: center;
}
#score2 {
    margin-left: 100px;
    text-align: center;
}
/* 3eme */
#top3 {
    color: rgb(201, 117, 16);
    text-align: center;
}
#pseudo3 {
    margin-left: 150px;
    text-align: center;
}
#score3 {
    margin-left: 100px;
    text-align: center;
}

#top {
    text-align: center;
}
/* 4eme */
#pseudo5 {
    margin-left: 150px;
    text-align: center;
}
#score5 {
    margin-left: 100px;
    text-align: center;
}
/* 5eme */
#pseudo5 {
    margin-left: 150px;
    text-align: center;
}
#score5 {
    margin-left: 100px;
    text-align: center;
}