#start{
    display: flex;
    border: 2px solid;
    background-color: lightgrey;
    border-radius: 6px;

    cursor: pointer;
}
body{
    align-items: center;
    justify-content: center;
}
#classement{
    border: 2px solid;
    background-color: lightgrey;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
}