h1{
    text-align: left;
    margin-left: 250px;
    color: goldenrod;
    font-family: 'Alex Brush', handwriting;
    font-size: 4cm;
    margin-bottom: 0cm;
}
#eg{
    text-align: center;
    color:black;
    font-size: 1cm;
    margin-left: 35%;
    font-family: 'Acme', sans-serif;
    border: 5px solid black;
}
#barre{
    position: fixed;
    top: 0px;
    height: 2cm;
    width: 100%;
    background-color: aliceblue;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}
.test{
    margin-right: 2cm;
    font-size: 20px;
}
body{
    margin-left: 0;
    background-image: url("https://voi.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fvoi.2F2019.2F07.2F12.2F24008ee6-67b0-49df-bb2f-5dd0931fa642.2Ejpeg/1200x675/quality/80/dalida-son-dernier-amour-serait-il-la-cause-de-son-suicide-il-brise-le-silence.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#start{
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid;
    background-color: lightgrey;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1cm;
}
.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button_link:hover{
    color: brown;
}
/*
.button_link {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}*/